<%# -- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++# %>

<turbo-frame id="backlogs_container" refresh="morph" class="op-backlogs-page">
  <% if @owner_backlogs.empty? && @sprints.empty? %>
    <%=
      render(Primer::Beta::Blankslate.new(border: true, spacious: true)) do |blankslate|
        blankslate.with_visual_icon(icon: :versions)
        blankslate.with_heading(tag: :h2).with_content(t(:backlogs_empty_title))

        if current_user.allowed_in_project?(:manage_versions, @project)
          blankslate.with_description_content(t(:backlogs_empty_action_text))
        end
      end
    %>
  <% else %>
    <div class="op-sprint-planning-container" data-controller="generic-drag-and-drop">
      <div id="owner_backlogs_container" class="op-sprint-planning-lists">
        <%=
          render(Primer::Beta::Subhead.new(hide_border: true)) do |head|
            head.with_heading(tag: :h3, font_weight: :bold, size: :medium) { t(:label_backlog) }

            if allow_sprint_creation?(@project)
              # Ugly hack:
              # This button will not be rendered, but still takes up space to push the left side down a bit.
              # Remove as soon as the `+ Sprint` button moves from the Subhead into a SubHeader.
              head.with_actions do
                render(Primer::Beta::Button.new(tag: :a, visibility: :hidden)) { "spacer" }
              end
            end
          end
        %>

        <%= render(Backlogs::BacklogComponent.with_collection(@owner_backlogs, project: @project)) %>
      </div>
      <div id="sprint_backlogs_container" class="op-sprint-planning-lists">
        <%=
          render(Primer::Beta::Subhead.new(hide_border: true)) do |head|
            head.with_heading(tag: :h3, font_weight: :bold, size: :medium) { Agile::Sprint.human_model_name.pluralize }

            if allow_sprint_creation?(@project)
              head.with_actions do
                render Primer::Beta::Button.new(
                  tag: :a,
                  label: Agile::Sprint.human_model_name,
                  href: new_dialog_project_sprints_path(@project),
                  data: {
                    controller: "async-dialog",
                    test_selector: "op-sprints--new-sprint-button"
                  }
                ) do |button|
                  button.with_leading_visual_icon(icon: :plus)
                  Agile::Sprint.human_model_name
                end
              end
            end
          end
        %>

        <%#= render(Primer::OpenProject::SubHeader.new) do |subheader|
            if allow_sprint_creation?(@project)
              subheader.with_action_button(
                leading_icon: :plus,
                label: Agile::Sprint.human_model_name,
                tag: :a,
                href: new_dialog_project_sprints_path(@project),
                data: {
                  controller: "async-dialog",
                  test_selector: "op-sprints--new-sprint-button"
                }
              ) do
                Agile::Sprint.human_model_name
              end
            end
          end %>

        <%= render(Backlogs::SprintComponent.with_collection(@sprints)) %>
      </div>
    </div>
  <% end %>
</turbo-frame>
