<%#
  -- copyright
  OpenProject is an open source project management software.
  Copyright (C) the OpenProject GmbH

  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License version 3.

  OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
  Copyright (C) 2006-2013 Jean-Philippe Lang
  Copyright (C) 2010-2013 the ChiliProject Team

  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License
  as published by the Free Software Foundation; either version 2
  of the License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

  See COPYRIGHT and LICENSE files for more details.

  ++#
%>

<li class="op-activity-list--item">
  <div class="op-activity-list--item-title">
    <% if content_changed? %>
      <%= link_to I18n.t("documents.versions.version_label", version: journal.version), version_url %>
      <% if latest? %>
        <span class="spot-caption">(<%= I18n.t("documents.versions.current") %>)</span>
      <% end %>
    <% else %>
      <%= I18n.t("documents.versions.version_label", version: journal.version) %>
    <% end %>
  </div>

  <%=
    render(
      Activities::ItemSubtitleComponent.new(
        user: author,
        datetime: journal.created_at,
        is_creation: journal.version == 1,
        is_deletion: false,
        is_work_package: false,
        journable_type: "Document"
      )
    )
  %>

  <% unless change_details.empty? %>
    <ul class="op-activity-list--item-details">
      <% change_details.each do |detail| %>
        <li class="op-activity-list--item-detail"><%= detail %></li>
      <% end %>
    </ul>
  <% end %>
</li>
