<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<%# locals: (f:) %>

<section id="custom_field_form" class="mb-3">
  <%= f.hidden_field :field_format if @custom_field.new_record? %>

  <%=
    render(
      Primer::Forms::FormList.new(
        CustomFields::Details::NameForm.new(f),
        CustomFields::Details::ProjectAttributeSectionForm.new(f),
        CustomFields::Details::LengthForm.new(f),
        CustomFields::Details::RegexpForm.new(f),
        CustomFields::Details::MultiSelectForm.new(f),
        CustomFields::Details::PossibleValuesForm.new(f),
        CustomFields::Details::AllowNonOpenVersionsForm.new(f),
        CustomFields::Details::DefaultBoolForm.new(f),
        CustomFields::Details::DefaultLongTextForm.new(f),
        CustomFields::Details::DefaultTextForm.new(f)
      )
    )
  %>

  <%= I18n.t("activerecord.attributes.custom_field.possible_values") %>
  <%# format_dependent.attributes(:possibleValues) %>
  <%= render(CustomFields::CustomOptionsComponent.new(form: f, custom_field: @custom_field)) %>

  <%= call_hook(:view_custom_fields_form_upper_box, custom_field: @custom_field, form: f) %>
</section>

<section class="mb-3">
  <% case @custom_field.type %>
  <% when "WorkPackageCustomField" %>
    <%=
      render(
        Primer::Forms::FormList.new(
          CustomFields::Details::RequiredForm.new(f),
          CustomFields::Details::WorkPackageCustomFieldForm.new(f),
          CustomFields::Details::SearchableForm.new(f),
          CustomFields::Details::RightToLeftForm.new(f)
        )
      )
    %>
  <% when "UserCustomField" %>
    <%=
      render(
        Primer::Forms::FormList.new(
          CustomFields::Details::RequiredForm.new(f),
          CustomFields::Details::UserCustomFieldForm.new(f)
        )
      )
    %>
  <% when "ProjectCustomField" %>
    <%=
      render(
        Primer::Forms::FormList.new(
          CustomFields::Details::RequiredForm.new(f, for_project: true),
          CustomFields::Details::AdminOnlyForm.new(f),
          CustomFields::Details::SearchableForm.new(f, for_project: true)
        )
      )
    %>
  <% else %>
    <%=
      render(
        Primer::Forms::FormList.new(
          CustomFields::Details::RequiredForm.new(f)
        )
      )
    %>
  <% end %>

  <%= call_hook(:"view_custom_fields_form_#{@custom_field.type.to_s.underscore}", custom_field: @custom_field, form: f) %>
</section>
