<%# -- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++# %>

<div class="generic-table--container <%= container_class %>" data-test-selector="<%= test_selector %>" id="<%= container_id %>">
  <div class="generic-table--results-container">
    <%= render(OpPrimer::TableComponent.new(classes: "generic-table", data: { controller: "table-highlighting" })) do |table| %>
      <% table.with_colgroup do |colgroup| %>
        <% headers.size.times { colgroup.with_col } %>
        <% colgroup.with_col(data: { highlight: false }) %>
      <% end %>

      <% table.with_head do |thead| %>
        <% thead.with_row do |tr| %>
          <% headers.each do |name, options| %>
            <% if sortable_column?(name) %>
              <% tr.with_header do %>
                <%= helpers.sort_header_tag(name, **options, with_th: false) %>
              <% end %>
            <% else %>
              <% tr.with_header do %>
                <div class="generic-table--sort-header-outer">
                  <div class="generic-table--sort-header">
                    <span><%= options[:caption] %></span>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <% tr.with_header do %>
            <%# last column for buttons %>
            <div class="generic-table--empty-header">
              <span class="sr-only"><%= t(:label_actions) %></span>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <% table.with_body do |tbody| %>
        <% if rows.empty? %>
          <% tbody.with_row(classes: "generic-table--empty-row") do |tr| %>
            <% tr.with_cell(colspan: headers.size + 1) { empty_row_message } %>
          <% end %>
        <% end %>
        <%= render_collection rows %>
      <% end %>
    <% end %>
    <% if inline_create_link %>
      <div class="wp-inline-create-button">
        <%= inline_create_link %>
      </div>
    <% end %>
  </div>
</div>
<% if paginated? %>
  <%= helpers.pagination_links_full rows %>
<% end %>
