<%# -- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH
This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.
OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team
This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
See COPYRIGHT and LICENSE files for more details.
++# %>

<fieldset class="form--fieldset" id="custom-actions-form--conditions">
  <legend class="form--fieldset-legend">
    <%= t("custom_actions.conditions.name") %>
  </legend>

  <div id="custom-actions-form--active-conditions" >
    <% all_conditions.each do |condition| %>
      <% condition_key = "condition_#{condition.key}" %>
      <section class="hide-section"
        data-hide-sections-target="section"
        data-name="<%= condition_key %>"
        <%= tag.attributes(data: { section_name: condition_key }, hidden: active_section_keys.include?(condition_key) ? nil : true) %>
      >
        <div class="form--field">
          <%= styled_label_tag("custom_action_conditions_#{condition.key}", condition.human_name, class: "-top") %>
          <% input_name = "custom_action[conditions][#{condition.key}]" %>
            <div class="form--field-container">
              <div class="form--select-container -middle">
                <% if condition.key == :project %>
                  <%= angular_component_tag "opce-project-autocompleter",
                                            inputs: {
                                              multiple: true,
                                              filters: [{ name: "active", operator: "=", values: ["t"] }],
                                              resource: "projects",
                                              inputName: input_name,
                                              appendTo: "body",
                                              labelForId: "custom_action_actions_#{condition_key}",
                                              inputValue: condition.values
                                            } %>
                <% else %>
                  <%= angular_component_tag "opce-autocompleter",
                                            inputs: {
                                              multiple: true,
                                              defaultData: false,
                                              items: condition.allowed_values.map { { id: it[:value], name: it[:label] } },
                                              model: condition.value_objects.map { { id: it[:value], name: it[:label] } },
                                              inputName: input_name,
                                              bindLabel: "name",
                                              labelForId: "custom_action_conditions_#{condition_key}",
                                              appendTo: "body"
                                            } %>
                <% end %>
              </div>
            </div>
            <button type="button"
              class="spot-link"
              data-action="click->hide-sections#hide">
                <i class="icon-close icon-small" aria-hidden="true"></i>
            </button>
        </div>
      </section>
    <% end %>
  </div>

  <div class="form--space"></div>

  <div class="form--field">
    <label class="form--label" for="add-custom-action-condition-select">
      <%= op_icon("icon-add icon4") %>
      <%= I18n.t(:"custom_actions.conditions.add") %>
    </label>
    <span class="form--field-container">
      <span class="form--select-container -middle">
        <%= select_tag "add_action",
          options_for_select(
                       all_conditions.map { [it.human_name, "condition_#{it.key}"] },
                         disabled: active_section_keys
                       ),
                       id: "add-custom-action-condition-select",
                       prompt: t(:"custom_actions.conditions.add"),
                       data: {
                         "hide-sections-target": "select",
                         action: "change->hide-sections#add"
                       },
                       class: "form--select" %>
      </span>
    </span>
  </div>
</fieldset>
