<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<% html_title t(:label_administration), t(:label_workflow_plural), @type.name -%>

<% content_for :content_header do %>
  <%= render Workflows::EditPageHeaderComponent.new(@type, tabs: workflow_tabs(@type, current_role: @role, current_tab: @current_tab)) %>
<% end %>

<% if @type && @role %>
  <%= turbo_frame_tag "workflow-table" do %>
    <%= render Workflows::EditSubHeaderComponent.new(tab: @current_tab, current_role: @role, type: @type, available_roles: @roles, status_ids: @statuses.pluck(:id)) %>

    <% if @statuses.any? %>
      <%= form_tag(
            { action: :update },
            id: "workflow_form",
            method: :patch,
            data: { turbo_frame: "_top", controller: "admin--workflow-checkbox-state", has_status_changes: ("true" if @has_status_changes), turbo_temporary: true }
          ) do %>
          <%= hidden_field_tag "type_id", @type.id %>
          <%= hidden_field_tag "role_id", @role.id %>
          <%= hidden_field_tag "tab", @current_tab %>

    <%= render_tabs workflow_tabs(@type) %>

          <div class="workflow-save-bar">
            <%=
              render Primer::Beta::Button.new(scheme: :primary, type: :submit, mt: 3, ml: 3, mb: 4) do
                t(:button_save)
              end
            %>
          </div>
        <% end %>
    <% else %>
      <%= render Workflows::BlankslateComponent.new(role: @role, type: @type, tab: @current_tab) %>
    <% end %>
  <% end %>
<% end %>
