<%# -- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++# %>
<%= component_wrapper(tag: "turbo-frame") do %>
  <div class="project-list-page--table" data-controller="table-action-menu">
    <div class="generic-table--flex-container">
      <div class="generic-table--container <%= container_class %>">
        <div class="generic-table--results-container">
          <%= render(OpPrimer::TableComponent.new(id: table_id, classes: "generic-table", data: { controller: "table-highlighting" })) do |table| %>
            <% table.with_colgroup do |colgroup| %>
              <% columns.each do |column| %>
                <% colgroup.with_col(data: { highlight: column.attribute != :hierarchy }) %>
              <% end %>
              <% colgroup.with_col(data: { highlight: false }) %>
            <% end %>

            <% table.with_head(classes: "-sticky") do |thead| %>
              <% thead.with_row do |tr| %>
                <% columns.each do |column| %>
                 <% if column.attribute == :hierarchy %>
                    <% tr.with_header(id: "project-table--hierarchy-header") do %>
                      <div class="generic-table--sort-header-outer generic-table--sort-header-outer_no-highlighting">
                        <div class="generic-table--sort-header">
                          <%= content_tag :a,
                                          helpers.op_icon("icon-hierarchy"),
                                          href: href_only_when_not_sort_lft,
                                          class: "spot-link #{deactivate_class_on_lft_sort}",
                                          data: { "turbo-stream": true },
                                          title: t(:label_sort_by, value: %("#{t(:label_project_hierarchy)}")) %>
                        </div>
                      </div>
                    <% end %>
                  <% elsif use_quick_action_table_headers? %>
                    <% tr.with_header(**order_options(column).slice(:sortable)) do %>
                      <%= quick_action_table_header column, order_options(column, turbo: true).merge(with_th: false) %>
                    <% end %>
                  <% else %>
                    <% tr.with_header do %>
                      <div class="generic-table--sort-header-outer">
                        <div class="generic-table--sort-header">
                          <span><%= column.caption %></span>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
                <% tr.with_header do %>
                  <%# last column for buttons %>
                  <div class="generic-table--empty-header">
                    <span class="sr-only"><%= t(:label_actions) %></span>
                  </div>
                <% end %>
              <% end %>
            <% end %>

            <% table.with_body do |tbody| %>
              <% if rows.empty? %>
                <% tbody.with_row(classes: "generic-table--empty-row") do |tr| %>
                  <% tr.with_cell(colspan: columns.size + 1) { empty_row_message } %>
                <% end %>
              <% end %>
              <%= render_collection rows %>
            <% end %>
          <% end %>
          <% if inline_create_link %>
            <div class="wp-inline-create-button">
              <%= inline_create_link %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if paginated? %>
    <%= helpers.pagination_links_full(model, **pagination_options) %>
  <% end %>
<% end %>
