<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.
++#%>

<%=
  render(
    Projects::Settings::TimeAndCosts::PageHeaderComponent.new(
      project: @project,
      selected: :cost_types
    )
  )
%>

<% enabled_ids = CostTypesProject.where(project_id: @project.id).pluck(:cost_type_id).to_set %>

<% if @cost_types.empty? %>
  <%=
    render Primer::Beta::Blankslate.new(border: true) do |c|
      c.with_visual_icon(icon: :checklist)
      c.with_heading(tag: :h2).with_content(I18n.t("cost_types.settings.cost_types.heading"))
      c.with_description { I18n.t("cost_types.admin.cost_type_projects.no_projects.description") }
    end
  %>
<% else %>
  <table class="generic-table">
    <thead>
      <tr>
        <th><%= CostType.model_name.human %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cost_types.each do |cost_type| %>
        <tr>
          <td><%= h cost_type.name %></td>
          <td>
            <% if cost_type.is_for_all? %>
              <em><%= t(:label_for_all) rescue "For all projects" %></em>
            <% else %>
              <%= button_to(
                    enabled_ids.include?(cost_type.id) ? t(:button_disable) : t(:button_enable),
                    toggle_project_settings_cost_type_path(@project, cost_type),
                    method: :put,
                    class: "button",
                    form: { data: { turbo: false } }
                  ) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
