<%# -- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++# %>

<%= grid_layout("op-backlogs-story", tag: :article) do |grid| %>
  <% grid.with_area(:drag_handle, classes: "hide-when-print") do %>
    <%= if draggable?
          render(
            Primer::OpenProject::DragHandle.new(
              classes: "op-backlogs-story--drag_handle_button",
              label: t(".label_drag_story", name: story.subject)
            )
          )
        end %>
  <% end %>

  <% grid.with_area(:info_line) do %>
    <%= render(WorkPackages::InfoLineComponent.new(work_package: story)) %>
  <% end %>

  <% grid.with_area(:points) do %>
    <%= render(Primer::Beta::Text.new(color: :subtle)) do %>
      <%= story_points %>
      <span class="op-backlogs-points-label"> <%= t(:"backlogs.points_label", count: story_points) %></span>
    <% end %>
  <% end %>

  <% grid.with_area(:menu) do %>
    <%= render(Backlogs::StoryMenuComponent.new(story:, sprint:, project:, max_position:)) %>
  <% end %>

  <% grid.with_area(:subject) do %>
    <%= render(Primer::Beta::Text.new(font_weight: :semibold)) do %>
      <%= story.subject %>
    <% end %>
  <% end %>
<% end %>
