<table cellspacing="0" cellpadding="0" style="<%= placeholder_table_styles(style: "font-size:14px;") %>">
  <tr>
    <td>
      <table width="100%" cellspacing="0" cellpadding="0" style="<%= placeholder_table_styles("width:100%;") %>">
        <tr>
          <td>
            <%= yield %>
          </td>
        </tr>
      </table>
    </td>
    <%= placeholder_cell("10px", vertical: true) %>
    <td>
      <%= render partial: "mailer/notification_settings_button", locals: {
            url: button_url,
            text: button_text
          } %>
    </td>
  </tr>
</table>
