<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>

<%=
  render Primer::OpenProject::PageHeader.new do |header|
    header.with_title { I18n.t(:label_permissions_report) }
    header.with_breadcrumbs(
      [{ href: admin_index_path, text: t("label_administration") },
       { href: admin_settings_users_path, text: t(:label_user_and_permission) },
       t(:label_permissions_report)]
    )
  end
%>

<% html_title t(:label_administration), t(:label_permissions_report) %>

<% (@calls || []).select(&:failure?).each do |call| %>
  <%= error_messages_for(call.result) %>
<% end %>

<%= form_tag(roles_path, method: :put, id: "permissions_form") do %>
  <%= hidden_field_tag "permissions[0]", "", id: nil %>

  <% group_permissions_by_module(@permissions).each do |mod, mod_permissions| %>
    <% module_name = mod.blank? ? "form--#{I18n.t('attributes.project')}" : "form--#{l_or_humanize(mod, prefix: 'project_module_').tr(' ', '_')}" %>
    <% escaped_name = module_name.parameterize %>

    <%= render Primer::OpenProject::CollapsibleSection.new(id: escaped_name, display: :block, mb: 3) do |section| %>
      <% section.with_title do %>
        <%= permission_header_for_project_module(mod) %>
      <% end %>

      <% section.with_additional_information do %>
        <%= check_all_links escaped_name %>
      <% end %>

      <% section.with_collapsible_content do %>
        <div class="generic-table--container">
          <div class="generic-table--results-container">
            <table
              class="generic-table"
              data-controller="checkable table-highlighting">
              <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
              </colgroup>
              <thead>
                <tr>
                  <th>
                    <div class="generic-table--sort-header-outer">
                      <div class="generic-table--sort-header">
                        <span>
                          <%= t(:label_permissions) %>
                        </span>
                      </div>
                    </div>
                  </th>
                  <% @roles.each do |role| %>
                    <th>
                      <div class="generic-table--sort-header-outer">
                        <div class="generic-table--sort-header">
                          <%= render(Primer::BaseComponent.new(tag: :div, display: :inline_flex, align_items: :center)) do %>
                            <%= render(Primer::Beta::Text.new(mr: 1)) do %>
                              <%= role.name %>
                              <%= render(Primer::Beta::Label.new(scheme: :secondary)) { t(:label_builtin) } if role.builtin? %>
                            <% end %>
                            <%=
                              render(
                                Primer::Beta::IconButton.new(
                                  scheme: :invisible,
                                  size: :small,
                                  icon: :check,
                                  tooltip_direction: :se,
                                  aria: {
                                    label: t(:label_check_uncheck_all_in_column)
                                  },
                                  data: {
                                    action: "checkable#toggleSelection",
                                    checkable_key_param: "role",
                                    checkable_value_param: role.id
                                  }
                                )
                              )
                            %>
                          <% end %>
                        </div>
                      </div>
                    </th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% mod_permissions.each do |permission| %>
                  <tr>
                    <td>
                       <%= render(Primer::BaseComponent.new(tag: :div, display: :inline_flex, align_items: :center)) do %>
                        <%=
                          render(
                            Primer::Beta::IconButton.new(
                              scheme: :invisible,
                              size: :small,
                              icon: :check,
                              tooltip_direction: :sw,
                              aria: {
                                label: t(:label_check_uncheck_all_in_row)
                              },
                              data: {
                                action: "checkable#toggleSelection",
                                checkable_key_param: "permission",
                                checkable_value_param: permission.name
                              }
                            )
                          )
                        %>
                        <%= render(Primer::Beta::Text.new(ml: 1)) do %>
                          <%= l_or_humanize(permission.name, prefix: "permission_") %>
                        <% end %>
                      <% end %>
                    </td>
                    <% @roles.each do |role| %>
                      <td>
                        <% if setable_permissions(role).include?(permission) %>
                          <%=
                            check_box_tag(
                              "permissions[#{role.id}][]",
                              permission.name,
                              role.permissions.include?(permission.name),
                              id: nil,
                              data: {
                                checkable_target: "checkbox",
                                role: role.id,
                                permission: permission.name
                              }
                            )
                          %>
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <p><%= styled_button_tag t(:button_save), class: "-primary -with-icon icon-checkmark" %></p>
<% end %>
