<%# -- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++# %>

<%= turbo_frame_tag "backlogs_container", refresh: :morph, class: "op-backlogs-page" do %>
  <div class="op-sprint-planning-container" data-controller="generic-drag-and-drop"
       data-generic-drag-and-drop-position-mode-value="prev_id"
       data-generic-drag-and-drop-handle-value="false">
    <div id="owner_backlogs_container" class="op-sprint-planning-lists"
         data-generic-drag-and-drop-target="scrollContainer">
      <%=
        render Backlogs::BacklogsComponent.new(
          inbox_work_packages: @inbox_work_packages,
          backlog_buckets: @backlog_buckets,
          project: @project
        )
      %>
    </div>
    <div id="sprint_backlogs_container" class="op-sprint-planning-lists"
         data-generic-drag-and-drop-target="scrollContainer">
      <%=
        render(Primer::Beta::Subhead.new(hide_border: true, pb: 0)) do |head|
          head.with_heading(tag: :h3, size: :medium, font_weight: :bold) { Agile::Sprint.human_model_name.pluralize }

          if allow_sprint_creation?(@project)
            head.with_actions do
              render Primer::Beta::Button.new(
                tag: :a,
                label: Agile::Sprint.human_model_name,
                href: new_dialog_project_backlogs_sprints_path(@project),
                data: {
                  controller: "async-dialog",
                  test_selector: "op-sprints--new-sprint-button"
                }
              ) do |button|
                button.with_leading_visual_icon(icon: :plus)
                Agile::Sprint.human_model_name
              end
            end
          end
        end
      %>

      <%#= render(Primer::OpenProject::SubHeader.new) do |subheader|
          if allow_sprint_creation?(@project)
            subheader.with_action_button(
              leading_icon: :plus,
              label: Agile::Sprint.human_model_name,
              tag: :a,
              href: new_dialog_project_backlogs_sprints_path(@project),
              data: {
                controller: "async-dialog",
                test_selector: "op-sprints--new-sprint-button"
              }
            ) do
              Agile::Sprint.human_model_name
            end
          end
        end %>

      <% if @sprints.empty? %>
        <% can_create_sprints = current_user.allowed_in_project?(:create_sprints, @project) %>
        <% can_manage_sprint_sharing = current_user.allowed_in_project?(:share_sprint, @project) %>
        <% description_key =
             if @project.receive_shared_sprints?
               can_manage_sprint_sharing ? "backlogs.backlog.blankslate.receive_shared_description_html" :
                 "backlogs.backlog.blankslate.receive_shared_no_actions_description_text"
             elsif can_create_sprints && can_manage_sprint_sharing
               "backlogs.backlog.blankslate.description_html"
             elsif can_create_sprints
               "backlogs.backlog.blankslate.create_sprint_description_text"
             elsif can_manage_sprint_sharing
               "backlogs.backlog.blankslate.share_sprint_description_html"
             else
               "backlogs.backlog.blankslate.no_actions_description_text"
             end %>
        <% description_content =
             if can_manage_sprint_sharing
               t(
                 description_key,
                 settings_link: link_to(
                   t("backlogs.backlog.blankslate.settings_link_text"),
                   project_settings_backlog_sharing_path(@project)
                 )
               )
             else
               t(description_key)
             end %>

        <%=
          render(Primer::Beta::Blankslate.new(border: true, spacious: true)) do |blankslate|
            blankslate.with_visual_icon(icon: :zap)
            blankslate.with_heading(tag: :h4).with_content(t("backlogs.backlog.blankslate.title"))
            blankslate.with_description_content(description_content)
          end
        %>
      <% else %>
        <% @sprints.each do |sprint| %>
          <%= render Backlogs::SprintComponent.new(
                sprint:,
                project: @project,
                stories: @stories_by_sprint_id[sprint.id],
                active_sprint_ids: @active_sprint_ids
              ) %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
